<footer>
    <article class="articulosfoot">
        <div class="icofoot">
            <i class="fas fa-credit-card fa-1x"></i>
        </div>
        <p class="titulopie">Pagá con tarjeta o en efectivo</p>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o 
        efectivoen puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="articulosfoot">
        <div class="icofoot">
            <i class="fas fa-gift fa-1x"></i>
        </div>
        <p class="titulopie">Envío gratis desde los $ 2.500</p>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis 
        en miles de productos. Es un beneficio de MercadoPuntos.</p>
    </article>
    <article class="articulosfoot">
        <div class="icofoot">
            <i class="fas fa-user-shield fa-1x"></i>
        </div>
        <p class="titulopie">Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no 
        puedas hacer porque estás siempre prtegid@.</p>
    </article>
    <div>
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
</footer>