<nav id="navegacion">
        <div class="botonhambuerguesa">
            <i class="fas fa-bars botonmenu"></i>
        </div>
        <ul class="links">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li></br>
            <li><a href="/register">Crea tu cuenta</a> 
                <i class="far fa-address-card"></i>
            </li>
            <li><a href="/login">Ingresa</a>
                <i class="fas fa-sign-in-alt"></i>
            </li>
            <li><a href="#">Mis compras</a>
                <i class="fas fa-shopping-basket"></i>
            </li>
        </ul>
    </nav>    