:root {
  --main-color: #EAC926;
  --navs: #03264C;
  --celeste: #1259c3;
  --text-gral: #666;
  --background: #ebebeb;
  --iconos-main: #39b54a;
  --section-background: #ebebeb;
  --articulo-background: white;
  --botonmenu: #0044aa;
  --botonmenudos: #AA0044;
  --icono-foot: blue;
  --fondo-navhover: #0022aa;
  --fondo-navhoverdos: #CC1155; 
  --parrafo-gral: 12px;
  --heater:14px;
  --titulares: 24px;
  --precios: 18px;
  --descuentos: 14px;
  --descripciones: 16px;
  --navigator: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--normal-font);
  color: var(--parrafo-gral);
  margin: 0;
  padding: 0;
}

#cabecera {
  background-color: var(--main-color);
  max-height: 100%;
  color: var(--navs);
  font-size: var(--heater);
  margin: 0px;
}

#cabecera .logobusca {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.formulario{
  position: relative;
}

.busca {
  height: 20px;
  padding: 5px;
  border: none;
}

.boto { 
  position: absolute;
  left: 161px;
  top: 0px;
}

.logo {
  padding: 5px;
}

#cabecera .logo,
#cabecera .busqueda {
  width: 40%;
}

.fa-search {
  border: none;
}

.centrado {
  text-align: center;
  flex-grow: 1;
  padding: 10px;
}

#navegacion {
  text-align: center;
}

#navegacion .botonmenu {
  background-color: var(--botonmenu);
  color: white;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: var(--navigator);
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px;
}

#navegacion .botonhambuerguesa {
  background-color: var(--main-color);
  text-align: center;
}

.links a {
  color: white;
  text-decoration: none;
}

#navegacion ul.links {
  display: none;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  color: white;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

#navegacion:hover ul.links {
  display: inline-block;
  background-color: var(--fondo-navhover);    
}    

.baner {
  width: 100%;
  margin: 0px;
  display: block;
}

.baner img {
  width: 100%;
}

.principal {
  width: 100%;
  background-color: var(--section-background);
  margin: -4px;
  padding: 0px;
  box-sizing: border-box;
}

.seccion{
  width: 100%;
  background-color: var(--section-background);  
  padding: 20px;
}

.titulares {
  background-color: var(--section-background);
  font-size: var(--titulares);
  width: 100%;
  padding-bottom: 20px;
}

.articulos {
  width: 100%;
  background-color: var(--articulo-background);
  margin-bottom: 10px; 
  position: relative;  
}

.articulos img {
  width: 100%;
  border-bottom: 1px solid var(--text-gral);
}

.articulos .camion {
  color: var(--iconos-main);
  text-align: right;
  margin-right: 5%;
  padding: 0px;
  
}

.fa-truck {
  border: 1px solid var(--iconos-main);
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  left: 238px;
  top: 265px;
}

.articulos .precios {
  font-size: var(--precios);
}

.articulos .descuentos {
  color: var(--iconos-main);
  font-size: var(--descuentos);
}

.articulos .descripcion {
  font-size: var(--descripciones);
}

footer{
  width: 100%;
  margin: 10px auto;
}

.articulosfoot {
  margin: 20px 5%;
}

#login {
  background-color: var(--section-background);
}

#registro {
  background-color: var(--section-background);
}

#login .ingreso {
  background-color: var(--section-background); 
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
}

#registro .ingreso {
  background-color: var(--section-background); 
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.campo {
  border-radius: 5px;
  border: 0px;
  width: 100%;
  margin: 20px 0px;
  height: 30px;
}

.tituloform {
  text-align: left;
  padding: 20px 0px;
}

.radbut {
  display: block;
  margin: 20px;
}

.chkbox {
  display: block;
  margin: 20px;
}

.botone {
  background-color: var(--botonmenu);
  color: white;
  width: 100%;
  border-radius: 5px;
  border: 0px;
  height: 30px;
  box-sizing: border-box;
  margin: 20px 0px;
}

.botonedos {
  background-color: var(--botonmenudos);
  color: white;
  width: 100%;
  border-radius: 5px;
  border: 0px;
  height: 30px;
  box-sizing: border-box;
  margin: 20px 0px;
}

.botone:hover {
  background-color: var(--fondo-navhover);
  border: 0px solid transparent;
}

.botonedos:hover {
  background-color: var(--fondo-navhoverdos);
  border: 0px solid transparent;
}

footer {
  text-align: center;
}

footer .titulopie {
  font-size: var(--descripciones);
  font-weight : bold;
}

.perfiluser, .interes {
  text-align: left;
}

footer .icofoot {
  color: var(--icono-foot);
}

@media (min-width: 320px) {
  .articulos {
      width: 100%;
      margin-left: 5%;
      margin-right: 5%;
      float: left;
  }
  
  .seccion {
      overflow: hidden;
  }
}

@media (min-width: 426px) {
  #cabecera .logo,
  #cabecera .busqueda {
      width: 33%;
  }

  .botonhambuerguesa {
      display: none;
  
  }

  .articulos {
      width: 40%;
      margin-left: 0%;
      margin-right: 0%;
      justify-content: space-around;
  }

  .fa-truck {
      left: 200px;
      top: 277px;
  }
}

@media (min-width: 769px) {
  #cabecera .logo,
  #cabecera .busqueda {
      width: 33%;
  }

  .botonhambuerguesa {
      display: none;
  
  }

  .articulos {
      width: 25%;
      margin-left: 0%;
      margin-right: 0%;
  }

  .fa-truck {
      left: 200px;
      top: 231px;
  }
}
/*    border-color: gold;
  align-items: center;
  box-sizing: border-box;*/