<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/header.ejs') %>
        <%- include('partials/banner.ejs') %>
        <main class="principal">
            <section class="seccion">
                <p class="titulares">Basado en la última visita</p>
                <article class="articulos">
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="camion">
                        <i class="fas fa-truck fa-1x"></i>
                    </div>
                    <p class="precios">$6.770 <span class="descuentos">40% OFF</span></p>
                    <p class="descripcion">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
                </article>
                <article class="articulos">
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="camion">
                        <i class="fas fa-truck fa-1x"></i>
                    </div>
                    <p class="precios">$230.000 <span class="descuentos">20% OFF</span></p>
                    <p class="descripcion">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
                </article>
                <article class="articulos">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="s10">
                    <div class="camion">
                        <i class="fas fa-truck fa-1x"></i>
                    </div>
                    <p class="precios">$70.500 <span class="descuentos">15% OFF</span></p>
                    <p class="descripcion">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
                </article>
                <article class="articulos">
                        <img src="images/img-tv-samsung-smart.jpg" alt="smattv">
                    <div class="camion">
                        <i class="fas fa-truck fa-1x"></i>
                    </div>
                    <p class="precios">$34.000 <span class="descuentos">5% OFF</span></p>
                    <p class="descripcion">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
                </article>
            </section>
            <section class="seccion">
                <p class="titulares">Ofertas</p>
                <article class="articulos">
                    <img src="images/img-cafetera-moulinex.jpg"  alt="cafetera">
                    <div class="camion">
                        <i class="fas fa-truck fa-1x"></i>
                    </div>
                    <p class="precios">$6.770 <span class="descuentos">40% OFF</span></p>
                    <p class="descripcion">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
                </article>
                <article class="articulos">
                        <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="camion">
                        <i class="fas fa-truck fa-1x"></i>
                    </div>
                    <p class="precios">$230.000 <span class="descuentos">20% OFF</span></p>
                    <p class="descripcion">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
                </article>
                <article class="articulos">
                    <img src="images/img-samsung-galaxy-s10.jpg"  width="100%" alt="s10">
                    <div class="camion">
                        <i class="fas fa-truck fa-1x"></i>
                    </div>
                    <p class="precios">$70.500 <span class="descuentos">15% OFF</span></p>
                    <p class="descripcion">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
                </article>
                <article class="articulos">
                    <img src="images/img-tv-samsung-smart.jpg"  width="100%" alt="smattv">
                    <div class="camion">
                        <i class="fas fa-truck fa-1x"></i>
                    </div>
                    <p class="precios">$34.000 <span class="descuentos">5% OFF</span></p>
                    <p class="descripcion">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
                </article>
            </section>
        </main>
        <%- include('partials/footers.ejs') %>
    </body>
</html>
